.catalog-sort__order-button--up{
  border-bottom-color:#585757;
  z-index: 3;

}

.catalog-sort__order-button--down{
  border-top-color:#585757;
  z-index: 4;

}
.catalog-sort__order-button--active{
  border-bottom-color:#131212;
  border-top-color:#131212;
}

.catalog-sort__order-button--up:hover {
  border-bottom-color: #c90606;
}

.catalog-sort__order-button--up:focus {
  outline: 1px solid #c90606;
  outline-offset: 1px;
}

.catalog-sort__order-button--down:hover {
  border-top-color: #c90606;
}

.catalog-sort__order-button--down:focus {
  outline: 1px solid #c90606;
  outline-offset: 1px;
}
